# Logs
logs
*.log
*.txt

# sourcemap
*.map

# Dependency directories
node_modules

# EDI
.vscode

# configuration
configuration.json

# build
build
epigen/gen_shared_frontend.js
epigen/run_tests.js
frontend/epigen/src/shared.gen.ts
frontend/js
frontend/sandbox
tmp