* {
    margin:0;
    padding:0;
}

html {
    height: 100%;
}

body {
	background-color: #252526;
    color: white;
    font-family: Monospace;
    min-height: 100%;
}

.deck {
    position: absolute;
    margin: 2em;
    padding: 2em;
    border: 1px solid silver;
    width: 100%;
    min-height: 20em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deck > div {
    border: 1px solid white;
    background-color: #444;

    flex: 0 0 auto;
    width: 25%;
}

canvas {
    position: absolute;
    z-index: 1;
    top: 0px;
    border: none;
}

p {
    margin-left: 1em;
    border: none;
    color: #73c991;
}

.ui_container {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 255, 0.5);
}

.shortcut_key {

    background-color: blueviolet;
    border: 1px solid violet;
    margin-left: 1em;
    width: 3em;
    display: inline-block;
    text-align: center;
    cursor: pointer; 
}